script(id="results-view" type="text/x-handlebars-template")
    {{#each images}}
    .card
        .card-image
            img(src='{{url}}', alt='')
        .card-header
            | {{title}}
    {{/each}}